<section class="about_me form_container">
    <div class="title">
        <span><span class="gradientText">About</span>&nbsp;Me</span>
    </div>
    <form class="about_me_form form">
        <div class="area_field">
            <label for="profile_summary"><span class="gradientText">Profile</span>&nbsp;Summary</label>
            <textarea name="profile_summary" id="profile_summary" cols="30" rows="5"></textarea>
        </div>
        <div class="field">
            <label for="age"><span class="gradientText">A</span>ge</label>
            <input type="number" name="age" id="age">
        </div>
        <div class="field">
            <label for="gender"><span class="gradientText">G</span>ender</label>
            <input type="text" name="gender" id="gender">
        </div>
        <div class="field">
            <label for="residence"><span class="gradientText">R</span>esidence</label>
            <input type="number" name="residence" id="residence">
        </div>
        <div class="field">
            <label for="address"><span class="gradientText">A</span>ddress</label>
            <input type="text" name="address" id="address">
        </div><br>
        <div class="button-field">
            <button type="submit"><i class="fas fa-save"></i>&nbsp;Save</button>
        </div>
    </form>
</section>