<section class="account">
    <div class="title">
        <span class="gradientText">Sign</span>&nbsp;-In
    </div>
    <form class="loginForm" id="loginForm">
        <div class="field">
            <label for="email"><span class="gradientText">E</span>-Mail</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="field">
            <label for="password"><span class="gradientText">P</span>assword</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="button-field">
            <button type="submit"><i class="fas fa-save"></i>&nbsp;Save</button>
        </div>
    </form>
</section>