
<script>
    function closeMessage(){
        document.getElementById("message").classList.remove("show");
        document.getElementById("message").classList.add("hide");
    }
</script>
<div id="message_container">
    <div id="message" class=<%- status %>  >
        <% if (status=='success') { %>
            <i class="icon fas fa-check-circle"></i>
        <% } %>
        <% if (status=='warn') { %>
            <i class="icon fas fa-exclamation-circle"></i>
        <% } %>
        <% if (status=='info') { %>
            <i class="icon fas fa-info-circle"></i>
        <% } %>
        <% if (status=='error') { %>
            <i class="icon fas fa-times-circle"></i>
        <% } %>
        <div class="content">
            <%- message %> 
        </div>
        <div>
            <a onclick="closeMessage()"><i class="close fas fa-times"></i></a>
        </div>
    </div>
</div>