<div class="box2">
    <div class="icon">
        <i class="fab fa-<%= service.icon %> gradientText"></i>
    </div>
    <div class="title">
        <%= service.title %> 
    </div>
    <div class="description">
        <%= service.description %> 
    </div>
</div>